<a href="https://colab.research.google.com/github/GargKT/D_S/blob/main/numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1. there is a difference
import numpy as np
list_ = [ '1' , '2' , '3' , '4' , '5' ]
array_list = np.array(object = list_)

In [3]:
type(list_)

list

In [4]:
type(array_list)

numpy.ndarray

In [6]:
# printing data type of each element
print("type of elemenents of list_")
for i  in range(len(list_)):
  print(type(i))

print("type of elements of array_list")
for i in range(len(array_list)):
  print(type(i))

type of elemenents of list_
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
type of elements of array_list
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [7]:
# 3. TYPE OF ELEMENTS AFTER ADDING DTYPE IN DEFINITION
array_list = np.array(object = list_, dtype = int)
print("type of elements of array_list")
for i in range(len(array_list)):
  print(type(i))

type of elements of array_list
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [12]:
#4. Find shape and size
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]
num_array = np.array(object = num_list)

print("shape = ",num_array.shape)
print("size = ",num_array.size)

shape =  (2, 3)
size =  6

In [23]:
#5. Create 3X3 array of zeros
arr1 = np.zeros((3,3),dtype = int)
arr1

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [22]:
#6. identity matrix of shape 5X5
arr2 = np.eye(5, dtype = int)
arr2

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])